<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration

  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"

  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
	
	</typeAliases>
	<plugins>
<!-- 分页参数参数合理化，当reasonable 为true时，不能点击0以下的页码 -->
	<plugin interceptor="com.github.pagehelper.PageInterceptor">
	<property name="reasonable" value="true"/>
	</plugin>
	</plugins>
	<mappers>
		 <mapper resource="mapper/UserMapper.xml"/>
	</mappers>
	
</configuration>